{% extends '@AdminBundle/layout.twig' %}
{% block title %}横幅广告管理{% endblock %}
{% set leftMenuActive='ProductBanner' %}

{% block contentRight %}

    <div class="page-title">横幅广告管理</div>

    <div class="content-top">
        <ul class="top-nav">
            <li class="active"><a href="">横幅广告列表</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-md-12">

                <div class="mt15">
                    <a class="btn btn-sm btn-primary pull-right" href="{{ url('admin/product-banner/create') }}"><span class="glyphicon glyphicon-plus"></span> 新增横幅广告</a>
                    <div class="clearfix"></div>
                </div>

                {# 一次性消息提示 #}
                {% include 'message.twig' %}

                {# 搜索表单 #}
                {#<form action="{{ url('admin/product-banner') }}" method="get" class="form-inline form-search mt15">
                    <div class="form-group">
                        <label>{{ entity.labels().id }}</label>
                        <input type="text" name="ProductBanner[id]" class="form-control"
                               value="{{ app.request.get('ProductBanner').id|default('') }}">
                    </div>

                    <div class="form-group">
                        <label>{{ entity.labels().product_id }}</label>
                        <input type="text" name="ProductBanner[product_id]" class="form-control"
                               value="{{ app.request.get('ProductBanner').product_id|default('') }}">
                    </div>

                    <div class="form-group">
                        <label>{{ entity.labels().filename }}</label>
                        <input type="text" name="ProductBanner[filename]" class="form-control"
                               value="{{ app.request.get('ProductBanner').filename|default('') }}">
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-search"></span> 搜索
                    </button>

                    {% if app.request.get('ProductBanner') %}
                        <a class="btn btn-default btn-sm" href="{{ url('admin/product-banner') }}">
                            <span class="glyphicon glyphicon-repeat"></span> 清空条件</a>
                    {% endif %}

                </form>#}

                {# 列表 #}
                {% if dataProvider.data is empty %}
                    <div class="alert alert-warning mt15" role="alert">暂无信息</div>
                {% else %}
                    <style>
                        .table td{
                            line-height: 100px!important;
                        }
                    </style>
                    <div class="table-responsive mt15">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    {#<th  width="100">{{ entity.labels().id }}</th>#}
                                    <th>{{ entity.labels().product_id }}</th>
                                    <th>{{ entity.labels().weight }}</th>
                                    <th>{{ entity.labels().filename }}</th>
                                    {#<th>{{ entity.labels().created_at }}</th>#}
                                    <th>{{ entity.labels().updated_at }}</th>
                                    <th width="150">操作</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for item in dataProvider.data %}
                                <tr>
                                    {#<td>{{ item.id }}</td>#}
                                    <td>{{ item.product_id }}</td>
                                    <td>{{ item.weight }}</td>
                                    <td>

                                        <img src="{{ item.url() }}" height="100" alt=""/>
                                    </td>
                                    {#<td>{{ item.created_at }}</td>#}
                                    <td>{{ item.updated_at }}</td>
                                    <td>
                                        {#<a href="{{ url('admin/product-banner/view', {'id':item.id}) }}">详情</a>#}
                                        <a href="{{ url('admin/product-banner/update', {'id':item.id, returnUrl:app.request.getRequestUri()}) }}">修改</a>
                                        <a href="{{ url('admin/product-banner/delete', {'id':item.id, _token:csrf_token() }) }}" class="leaf-confirm" data-method="post" data-dialog-content="您确定要删除吗?">删除</a>
                                    </td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {# 分页 #}
                <div class="pull-right">
                    <span>共<strong> {{ dataProvider.page.itemCount }} </strong>条记录 </span>
                    {{ dataProvider.page.createLinks(url('admin/product-banner')) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
