{#{{ app.html.dropDownList('SystemPost[status]', app.request.get('SystemPost').status|default(entity.status), entity.statusAlias(true), {'class':'form-control', 'prompt': '请选择'}) }}#}

<input type="hidden" name="_token" value="{{ csrf_token() }}">


<div class="form-group">
    <label class="col-sm-2 control-label" for="input-key">{{ entity.labels().key }}</label>
    <div class="col-sm-8">

        {{ app.html.dropDownList('SystemPost[key]', app.request.get('SystemPost').key|default(entity.key), entity.keyAlias(true), {'class':'form-control', }) }}

        <span class="help-block">{# 帮助信息 #}</span>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label" for="input-image">图片</label>
    <div class="col-sm-8">
        <style>
            .img-item {
                display: inline-block;
                position: relative;
            }

            .img-item img {
                height: 200px;
            }

            .js-remove {
                position: absolute;
                top: -8px;
                right: -2px;
                cursor: pointer;
                color: red;
            }
        </style>

        <div class="show-images">
            {% if images is defined and images is not empty %}
                {% for image in images %}
                    <div class="img-item">
                        <img src="{{ image.url() }}" data-image-id="{{ image.id }}">
                        <input type="hidden" name="imageIds[]" value="{{ image.id }}">
                        <span class="js-remove glyphicon glyphicon-minus-sign"></span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- jquery-file-upload 作为目标文件上传插件的文件输入域 -->
        <div class="btn btn-primary btn-sm fileinput-button" style="margin-top: 10px;">
            <span>上传...</span><!--选择文件...-->
            <input class="fileupload" type="file" data-show=".show-images" name="file[]" multiple>
        </div>

        <!-- 进度条 -->
        <div class="progress progress-striped active js-img-progress" data-show=".js-product-image-show"
             style="display: none;">
            <div class="progress-bar progress-bar-info"></div>
        </div>

        <span class="help-block"></span>
    </div>
</div>
<link rel="stylesheet" href="{{ asset('static/jquery-file-upload/css/jquery.fileupload.css') }}">
<script src="{{ asset('static/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ asset('static/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ asset('static/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
<script>
	$(function () {
		'use strict';

		var url = '{{ url('admin/system-post/upload') }}';
		var mobileUploadUrl = "{{ url('admin/product/mobileUpload', {_token: csrf_token()}, true) }}"

		$('.fileupload').fileupload({
			url: url,
			dataType: 'json',
			done: function (e, data) {

				if (data.result.status == false) {
					leaf.alert(data.result.message)
					return;
				}

				$(".file-upload-progress").hide(); //隐藏进度条
				//e.target 当前点击的按扭
				var showDiv = $(e.target).attr("data-show");
				showImage(data.result.file, showDiv)
			},
			progressall: function (e, data) {
				$('.file-upload-progress').show();
				var progress = parseInt(data.loaded / data.total * 100, 10);
				$('.file-upload-progress .progress-bar').css('width', progress + '%');
			}
		});

		function showImage(file, showDiv) {
			var imgItem = $("<div class='img-item'></div>");

			var tempUrl = file.url; //预览临时图片

			//如果是多图就不需要这句
			$(showDiv).html('');

			$('<img>').attr('src', tempUrl).appendTo(imgItem);
			//ajax返回的数据中会有一个fileKey，放入js创建的隐藏input中，传到控制器，用于把文件从临时目录移动到正式目录
			$('<input type="hidden" name="fileKey[]">').val(file.fileKey).appendTo(imgItem);

			//删除按扭
			$("<span class='js-remove glyphicon glyphicon-minus-sign'></span>").appendTo(imgItem)
			imgItem.appendTo(showDiv);
		}


		$(".js-from-mobile").click(function (event) {
			var showDiv = $(event.target).attr("data-show")
			//多取几次防重复
			var tag = Math.random() + Math.random() + Math.random() + Math.random() + Math.random()
			var url = mobileUploadUrl + "&tag=" + tag
			//console.log(url)
			window.myQrcode = leaf.ajaxShow(url + "&action=qrcode&url=" + encodeURIComponent(url))

			setTimeout(function () {
				checkMobileUpload(url, showDiv)
			}, 3000)

		})

		function checkMobileUpload(mobileUploadUrl, showDiv) {
			$.ajax({
				type: "GET",
				url: mobileUploadUrl,
				data: {},
				dataType: "json",
				success: function (result) {
					if (result.status) {
						showImage(result.file, showDiv)

						window.myQrcode.close()

					} else {

						setTimeout(function () {
							checkMobileUpload(mobileUploadUrl, showDiv)
						}, 1000)
					}
				},
				error: function () {
					alert('出错了');
				}
			});
		}

		//删除图片
		$(document).on('click', '.js-remove', function () {
			$(this).parents('.img-item').remove();
		})
	});
</script>


<div class="form-group">
    <label class="col-sm-2 control-label" for="input-title">{{ entity.labels().title }}</label>
    <div class="col-sm-8">
        <input type="text" name="SystemPost[title]" class="form-control"
               value="{{ app.request.get('SystemPost').title|default(entity.title) }}" id="input-title">
        <span class="help-block">{# 帮助信息 #}</span>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label" for="input-content">{{ entity.labels().content }}</label>
    <div class="col-sm-8">
        <textarea hidden cols="30" rows="5" name="SystemPost[content]" class=""
                  id="input-content">{{ app.request.get('SystemPost').content|default(entity.content) }}</textarea>

        <script type="text/plain"
                id="myEditor">{% autoescape false %}{{ app.request.get('SystemPost').content|default(entity.content) }}{% endautoescape %}</script>
        <span class="help-block">{# 帮助信息 #}</span>
    </div>
</div>
<style>
    #myEditor {
        width: 100%;
        min-height: 500px;
    }

    #myEditor img {
        max-width: 100%;
    }
</style>

<link href="{{ asset('static/umeditor/themes/default/css/umeditor.css') }}" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="{{ asset('static/umeditor/umeditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ asset('static/umeditor/umeditor.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ asset('static/umeditor/lang/zh-cn/zh-cn.js') }}"></script>

<script>

	//实例化编辑器
	var um = UM.getEditor('myEditor', {
		imageUrl: "{{ url('admin/system-post/um-upload',{'_token':csrf_token()}) }}"             //图片上传提交地址
		, imagePath: ""                     //图片修正地址，引用了fixedImagePath,如有特殊需求，可自行配置
		, imageFieldName: "upfile"                   //图片数据的key,若此处修改，需要在后台对应文件修改对应参数

		//工具栏上的所有的功能按钮和下拉框，可以在new编辑器的实例时选择自己需要的从新定义
		, toolbar: [
			'source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
			'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize',
			'| justifyleft justifycenter justifyright justifyjustify |',
			'link unlink | emotion image video  | map',
			'| horizontal print preview fullscreen', 'drafts', 'formula'
		]
	});

	um.addListener('contentchange', function () {
		var content = UM.getEditor('myEditor').getContent();
		$("#input-content").val(content);
		console.log("contentchange")
	});

	//剪切操作不会触发 contentchange，监听 blur 事件作为补充
	um.addListener('blur', function () {
		var content = UM.getEditor('myEditor').getContent();
		$("#input-content").val(content);
		console.log("contentchange")
	});
</script>
