{% extends '@AdminBundle/layout.twig' %}
{% block title %}产品分类管理{% endblock %}
{% set leftMenuActive='ProductCategory' %}

{% block contentRight %}

    <div class="page-title">产品分类管理</div>

    <div class="content-top">
        <ul class="top-nav">
            <li class="active"><a href="">产品分类列表</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-md-12">

                <div class="mt15">
                    <a class="btn btn-sm btn-primary pull-right" href="{{ url('admin/product-category/create') }}"><span class="glyphicon glyphicon-plus"></span> 新增产品分类</a>
                    <div class="clearfix"></div>
                </div>

                {# 一次性消息提示 #}
                {% include 'message.twig' %}

                {# 搜索表单 #}
                {#<form action="{{ url('admin/product-category') }}" method="get" class="form-inline form-search mt15">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" name="ProductCategory[id]" class="form-control"
                               value="{{ app.request.get('ProductCategory').id|default('') }}">
                    </div>

                    <div class="form-group">
                        <label>名称</label>
                        <input type="text" name="ProductCategory[name]" class="form-control"
                               value="{{ app.request.get('ProductCategory').name|default('') }}">
                    </div>

                    <div class="form-group">
                        <label>权重</label>
                        <input type="text" name="ProductCategory[weight]" class="form-control"
                               value="{{ app.request.get('ProductCategory').weight|default('') }}">
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-search"></span> 搜索
                    </button>

                    {% if app.request.get('ProductCategory') %}
                        <a class="btn btn-default btn-sm" href="{{ url('admin/product-category') }}">
                            <span class="glyphicon glyphicon-repeat"></span> 清空条件</a>
                    {% endif %}

                </form>#}

                {# 列表 #}
                {% if list is empty %}
                    <div class="alert alert-warning mt15" role="alert">暂无信息</div>
                {% else %}
                    <div class="table-responsive mt15">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    {#<th  width="100">{{ sort_by('id', 'ID') }}</th>#}
                                    <th>{{ entity.labels().name }}</th>
                                    {#<th>{{ entity.labels().status }}</th>#}
                                    <th>{{ entity.labels().parent_id }}</th>
                                    <th>{{ entity.labels().weight }}</th>

                                    <th width="150">操作</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for item in list %}
                                <tr>
                                    {#<td>{{ item.id }}</td>#}
                                    <td>
                                        {% for i in 1..item.level %}
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        {% endfor %}
                                        <i class="glyphicon glyphicon-minus"> </i>&nbsp;
                                        {{ item.name }}
                                    </td>
                                    {#<td>{{ item.statusAlias() }}</td>#}
                                    <td>{{ item.showParent() }}</td>
                                    <td>{{ item.weight }}</td>

                                    <td>
                                        {#<a href="{{ url('admin/product-category/view', {'id':item.id}) }}">详情</a>#}
                                        <a href="{{ url('admin/product-category/update', {'id':item.id, returnUrl:app.request.getRequestUri()}) }}">修改</a>
                                        <a href="{{ url('admin/product-category/delete', {'id':item.id, _token:csrf_token() }) }}" class="leaf-confirm" data-method="post" data-dialog-content="您确定要删除吗?">删除</a>
                                    </td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {# 分页 #}
                {#<div class="pull-right">#}
                    {#<span>共<strong> {{ dataProvider.page.itemCount }} </strong>条记录 </span>#}
                    {#{{ dataProvider.page.createLinks(url('admin/product-category')) }}#}
                {#</div>#}

            </div>
        </div>
    </div>
{% endblock %}
